<html>
<head>
    <title>Spatial vizualisation composer - demo</title>
    <link rel="stylesheet" type="text/css" href="mapsnip.css" />
    <link rel="stylesheet" href="leaflet.css" />

    <script src="jquery.js"></script>
    <script src="leaflet.js"></script>
    <script src="raphael.js"></script>
    <script src="svg.js"></script>

</head>

<body>

    <div id="map-container"></div>

    <div class="infos">
        <h1>Spatial vizualisation composer project</h1>
        <h2>Demo widget</h2>

        <div class="description">
            <p>This widget demonstrates the possibility to export geo-datas into svg files, for easy integration in graphic design production.</p>

            <p>Both the composer and the output can be shaped to suit any kind of needs, from simple shapes to a fully templated design, with names, sub-regions, icons, more detailed geo-datas etc.</p>

            <p>Since it's a simple prototype, download is not implemented.</p>

            <p>Zoom to the countries you would like to extract.</p>
            
            <p>Validate to display the visible countries shapes in svg.</p>

        </div>

        <div class="separator"></div>

        <button id="submit" type="button">Display SVG</button>

        <div class="separator"></div>

        <div class="credits">This is a demonstration widget from <a href="http://atelier-cartographique.be">Atelier Cartographique</a>.</div>

    </div>


</body>
</html>
