<html>
<head>
    <title>wænd - register</title>
    <link rel="stylesheet" type="text/css" href="../styles/mapsnip.css" />  
    <script type="text/javascript"></script>
</head>

<body>

    <div id="map-container"></div>

    <div class="infos">
        <h1>Spatial vizualisation composer project</h1>
        <h2>Basic demo widget</h2>

        <div class="description">
            <p>This widget demonstrates the possibility to export geo-datas into svg files, for easy integration in graphic design production. Both the composer and the output can be shaped to suit any kind of needs, from simple shapes to a fully templated design.</p>
            <p>Zoom to the zone you would like to export in svg.</p>
            <p>Press validate to export the visible countries.</p>
        </div>

        <div class="credits">This is a demonstration product from <a href="http://atelier-cartographique.be">Atelier Cartographique</a>.</div>
    </div>


</body>
</html>